  
  .container-fluid{
    background-color:rgb(101, 6, 84);
  }
   
  #nav{    
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    background-color:rgb(230, 141, 206);
  }
  .col-sm-12 {
    font-size:25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(230, 141, 206);
  }
  #header img{
    width:110px;
    height:150px;
  }
  #nav href{
    color:rgb(101, 6, 84);
  }
  #links {
    font-size:25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    background-color:rgb(230, 141, 206);
  }
  a {
    color:rgb(101, 6, 84);
  }
  #table{
    background-color:rgb(230, 141, 206); 
    font-size:25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  caption{
    color:black;
  }
  tbody tr:nth-child(odd) {
    background-color:rgb(220, 167, 211);/* фон нечетных строк */
  }
  tbody tr:nth-child(even) {
    background-color:rgb(241, 193, 231);/* фон четных строк */
  }
  th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
  #form {
    font-size:25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(230, 141, 206); 
  }
  input, select, textarea{
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(241, 193, 231);
    border: 1px solid black;
  }
  #footer{
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(230, 141, 206);
  }
 
  @media (min-width: 576px) {
    #table{
      order:3;
    }
    #form{
      order:4;
    }
    #ul li{
      display:inline;
    }
  } 